@import 'customize';

// import components
@import 'components/animations';
@import 'components/buttons';
@import 'components/mixins';
@import 'components/typography';

// import sections
@import 'sections/companies';
@import 'sections/faq';
@import 'sections/footer';
@import 'sections/get-started';
@import 'sections/intro-section';
@import 'sections/navbar';
@import 'sections/portfolio';
@import 'sections/services';
@import 'sections/testimonials';